@import "tailwindcss";
@theme {
  --color-themeYellow: #f5e60d;
  --color-themePurple: #502ec3;
}
#hero [data-aos] {
  opacity: 0;
  visibility: hidden;
}

#hero [data-aos].aos-animate {
  opacity: 1;
  visibility: visible;
}

#icons {
  display: none;
}

#product-box:hover{
  #icons {
    display: flex !important;
  }
}